# Flutter & Dart
.dart_tool/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/
ios/Flutter/flutter_export_environment.sh

# IDEs
.vscode/
.idea/

# Env
docker/.env
